.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1; // ocupa o resto da tela
}


.content {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}
