@use "../../../../variables" as *;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.main-content {
  display: flex;
  flex: 1; // ocupa o resto da tela
  overflow: hidden;
  background-color: $dark;
  color: $white !important;
}


.content {
  flex: 1;
  padding: 1.5rem;
  overflow: auto;
}
