.login-container {
  background: linear-gradient(135deg, #0dfddd, #6610f2); // degrade azul/roxo bootstrap
}

.login-card {
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;

  .card-title {
    font-weight: 600;
    color: #0dfddd;
  }

  .form-control {
    border-radius: 0.5rem;
  }

  .btn {
    border-radius: 0.5rem;
  }

  a {
    color: #0d6efd;


    &:hover {
      text-decoration: underline;
    }
  }
}
