@use "../../../../style/index" as *;

.reports {
  color: $white;
  .card {
    border-radius: 8px;
    background: $bg-dark;
    color: $white;
  }

  h5, h6 {
    font-weight: 600;
  }
  .text-muted {
    color: #ddd !important;
  }

  .badge {
    font-size: 0.85rem;
  }

  table {
    th {
      font-weight: 600;
    }
  }
}
