
.sidebar {
  width: 220px;
  background: #f8f9fa;
  border-right: 1px solid #ddd;
  padding: 1rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;
      cursor: pointer;

      a {
        display: block;
        padding: 8px 12px;
        border-radius: 6px;
        text-decoration: none;
        color: #333;

        &:hover {
          background-color: #e9ecef;
        }

        &.active {
          background-color: #0d6efd; // azul bootstrap
          color: #fff;
          font-weight: 500;
        }
      }
    }
  }
}
