<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

<aside class="sidebar">
  <header class="nav-header">
      <img src="" ngSrc="images/logo_portal.png" width="145" height="35" alt="Logo do Portal" />
      <img src="icons/close_sidebar.png" class="close-sidebar" alt="close sidebar icon">

  </header>
  <div class="input-group mb-3 nav-search">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
      <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="Pesquisar">
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a routerLink="dashboard" routerLinkActive="active">
          <i class="fas fa-chart-line"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="relatorios" routerLinkActive="active">
          <i class="fas fa-file-alt"></i>
          Relatórios
        </a>
      </li>
      <li class="nav-item dropdown">
        <a routerLink="/portal/funcionario" class="nav-link dropdown-toggle" id="dropDownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-users"></i>
          Funcionários</a>
        <ul class="dropdown-menu" aria-labelledby="dropDownLink">
          <li>
            <a href="#" class="dropdown-item" routerLink="/portal/funcionario/cadastrar">
              <i class="fa-solid fa-user-plus"></i>
              Cadastrar Novo
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a routerLink="/portal/suporte" class="nav-link dropdown-toggle" id="dropDownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-users"></i>
          Ponto de Suporte</a>
        <ul class="dropdown-menu" aria-labelledby="dropDownLink">
          <li>
            <a href="#" class="dropdown-item" routerLink="/portal/suporte/cadastrar">
              <i class="fa-solid fa-user-plus"></i>
              Cadastrar
            </a>
          </li>
          <li><a href="#" class="dropdown-item" routerLink="/portal/suporte/atualizar"><i class="fa-solid fa-users-gear"></i> Atualizar</a></li>
          <li>
            <a href="#" class="dropdown-item" routerLink="/portal/suporte/delete">
              <i class="fa-solid fa-user-minus"></i>
              Deletar
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a routerLink="/portal/pesquisa" class="nav-link dropdown-toggle" id="dropDownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-users"></i>
          Pesquisa</a>
        <ul class="dropdown-menu" aria-labelledby="dropDownLink">
          <li>
            <a class="dropdown-item" routerLink="/portal/pesquisa/cadastrar">
              <i class="fa-solid fa-user-plus"></i>
              Criar nova pesquisa
            </a>
          </li>
          <li><a class="dropdown-item" routerLink="/portal/pesquisa/gerenciar-pesquisas"><i class="fa-solid fa-users-gear"></i>Gerenciar Pesquisa</a></li>

        </ul>
      </li>
    </ul>
  </nav>
  <hr>
  <div class="nav-config">
    <div class="config-link">
        <span><i class="fa-solid fa-gear"></i> Ajustes</span>
    </div>

    <a routerLink="perfil" class="config-profile">
        <div class="profile-data">

          <img ngSrc="images/img_profile.png" width="32" height="32" alt="Imagem de Perfil">
          <div class="texts">
            <h5>Name gerenciador</h5>
            <p>Configurações da conta</p>
          </div>
        </div>
        <span><i class="fa-solid fa-arrow-right"></i></span>
    </a>
  </div>

  <footer class="nav-footer">
      <button class="btn btn-degrade" (click)="onLogout()"> Desconectar
        <i class="fa-solid fa-arrow-right"></i>
      </button>
  </footer>
</aside>
