.sidebar {
  width: 350px;
  min-height: 100vh;
  background: #1f1f24;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.sidebar .nav-link {
  color: #d1d1d1;
  font-weight: 500;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding-left: 0.9rem;
}

.nav-header img {
  cursor: pointer;
}

.btn-degrade {
  background: linear-gradient(90deg, #28a745, #20c997);
  border: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.btn-degrade:hover {
  opacity: 0.9;
}

.nav-config {
  color: #ddd !important;
  .config-profile {
    text-decoration: none;
    color: #ddd;
  }
}

// .nav-config .texts {

//   text-decoration: none;
//   color: #ddd;
// }


