@use "variables" as *;

.btn-degrade {
  width: 100%;
  background: linear-gradient(135deg, #95d566, #63bfc1);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: $bg-dark;
  margin: 7px;
}
