name: Production

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**'

permissions:
  contents: read
  packages: write

env:
  JAVA_VERSION: '21'
  DISTRIBUTION: 'temurin'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    outputs:
      image_tag: ${{ steps.meta.outputs.image_tag }}
      image_name: ${{ steps.meta.outputs.image_name }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.DISTRIBUTION }}
          cache: maven

      - name: Build with Maven
        run: mvn -B package

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Define image metadata
        id: meta
        run: |
          IMAGE_TAG="${GITHUB_SHA::7}"
          IMAGE_NAME="ghcr.io/${GITHUB_REPOSITORY,,}:latest"
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "image_name=$IMAGE_NAME" >> $GITHUB_OUTPUT
          echo "Building $IMAGE_NAME ($IMAGE_TAG)"

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ steps.meta.outputs.image_name }}
            ${{ steps.meta.outputs.image_name }}-${{ steps.meta.outputs.image_tag }}

  deploy:
    name: deploy
    runs-on: ubuntu-latest
    needs: build

    environment: production

    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: set GHCR as registry
        run: |
          az containerapp registry set \
            --name ${{ vars.CONTAINERAPP_NAME }} \
            --resource-group ${{ vars.RESOURCE_GROUP }} \
            --server ghcr.io \
            --username ${{ github.actor }} \
            --password ${{ secrets.GITHUB_TOKEN }}

      - name: update container
        run: |
          az containerapp update \
            --name ${{ vars.CONTAINERAPP_NAME }} \
            --resource-group ${{ vars.RESOURCE_GROUP }} \
            --image ${{ needs.build.outputs.image_name }}
            --set-env-vars
                TMDB_TOKEN=${{ secrets.TMDB_TOKEN }}

