@use "../../../../style/index" as *;

.validate {
  max-width: 400px;
  margin: 0 auto;

  .code-form {
    width: 100%;
    text-align: center;

    .code-input {
      width: 60px;
      height: 60px;
      font-size: 2rem;
      text-align: center;
      border-radius: 8px;
      border: 1px solid #ced4da;

      &:focus {
        border-color: #0d6efd;
        box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
        outline: none;
      }
    }
  }
}
